<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <logger name="org.mybatis.generator2.db.node" level="trace"/>
  
  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
